.about {
  background-color: transparent;
  font-size: 1.1em;

  background-image: url(../../assets/images/background.jpg);
  background-size: contain;
  background-position: center;
  position: relative;
  padding: 2px;
}

.profile {
  max-width: 15em;
}

.my-details {
  background-color: rgba(255, 255, 255, 0.747);
}
